* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}
/* Navigation CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 8vw;
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
}
nav img {
  width: 150px;
  cursor: pointer;
}

.navigation ul {
  display: flex;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  list-style: none;
  text-decoration: none;
  margin-left: 30px;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.navigation ul li a:hover {
  color: #fdc93b;
}

/* Home */
#home {
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url("../img/back.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
#home h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

#home p {
  width: 50%;
  color: white;
  font-size: 0.9rem;
  line-height: 25px;
}

#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
}

.btn {
  margin-top: 30px;
}

#home a.blue {
  color: white;
  background-color: rgb(21, 21, 100);
  transition: 0.3s ease;
}

#home a.yellow {
  color: white;
  background-color: rgb(227, 191, 28);
  transition: 0.3s ease;
}

#home a.blue:hover {
  color: rgb(21, 21, 100);
  background-color: white;
}

#home a.yellow:hover {
  color: white;
  background-color: lightskyblue;
}

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
.feature-box {
  background-color: #f9f9ff;
  text-align: start;
}
.feature-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 15px;
}

.feature-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}

.feature-box h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(47, 46, 59);
  padding: 13px 0 7px 0;
}
.feature-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}

/* Course */
#course {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}

.course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 15px;
}

.courses {
  text-align: start;
  background-color: #f9f9ff;
  height: 100%;
  position: relative;
}

.courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
#course i {
  font-size: 1.4rem;
  color: #fdc93b;
  text-align: start;
}
#course h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(47, 46, 59);
  padding: 13px 0 7px 0;
}

.details {
  padding: 15px 15px 0 15px;
}

.cost {
  background-color: rgb(74, 74, 136);
  color: #fff;
  line-height: 70px;
  width: 70px;
  position: absolute;
  right: 25px;
  bottom: 100px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}

#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(
      rgba(99, 112, 168, 0.5),
      rgba(81, 91, 233, 0.5)
    ),
    url("../img/signup.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reminder {
  color: white;
}

.reminder p {
  font-size: 1.1rem;
}
.reminder h1 {
  color: white;
  font-size: 3rem;
}

.time {
  display: flex;
  margin-top: 45px;
}

.time .date {
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 5px 10px 5px;
  box-shadow: 0 8px 32px 0 rgba(9, 5, 54, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 600;
}

.form {
  display: flex;
  background: #f9f9ff;
  border-radius: 8px;
  flex-direction: column;
  padding: 40px;
  width: 30%;
  box-shadow: 0 8px 32px 0 rgba(9, 5, 54, 0.3);
}

.form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}
.form button {
  color: white;
  background-color: rgb(227, 191, 28);
  transition: 0.3s ease;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form button:hover {
  color: white;
  transition: 0.3s ease;
  background-color: rgb(16, 123, 200);
}

/* Experts */

#experts {
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}
.expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

.profile {
  background: #f2f2f1;
  padding: 30px 10px;
}

.social-links {
  margin-top: 10px;
}
.social-links i {
  padding: 10px 13px;
  border: 1px solid rgb(21, 21, 100);
  cursor: pointer;
  border-radius: 10%;
}

.social-links i:hover {
  background: rgb(21, 21, 100);
  color: white;
  transition: 0.3s ease;
}

footer {
  padding: 8vw 8vw 0 8vw;
  display: flex;
  margin-top:0;
  background-color: rgb(35, 35, 85);
  height: 80vh;
}
footer h4{
  font-size: 1.5rem;
  color: white;
}

.footer-col{
 margin-right: 40px;
}
.footer-col li{
  list-style: none;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 10px;
  color:rgb(164, 158, 158);
}

.footer-col li:hover{
  text-decoration: underline;
}

.newsletter{
 margin-left: 80px;
}

.newsletter p{
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: white;
}

.newsletter input{
  padding: 10px;
  width: 50%;
  background: rgb(70, 70, 87);
  border-radius: 10px;
  border: none;
  color: #f2f2f1;
}

.newsletter input::placeholder{
  font-size: 1.0rem;
  color:rgb(164, 158, 158);
  outline: none;
  border: none;
}

.newsletter input:focus{
  outline: none;
}

.newsletter button{
  padding: 10px;
  background: #fdc93b;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  cursor: pointer;
}